<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <ul>
        <li>
            <a href="http://localhost:7000/detail/web16">Web 16</a>
        </li>
        <li>
            <a href="http://localhost:7000/detail/web15">Web 15</a>
        </li>
        <li>
            <a href="http://localhost:7000/detail/web14">Web 14</a>
        </li>
        <li>
            <a href="http://localhost:7000/detail/web13">Web 13</a>
        </li>
        <li>
            <a href="http://localhost:7000/detail/web12">Web 12</a>
        </li>
        <li>
            <a href="http://localhost:7000/detail/web11">Web 11</a>
        </li>
        <li>
            <a href="http://localhost:7000/detail/web10">Web 10</a>
        </li>
    </ul>
</body>
</html>