<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Quyetde</title>
</head>
<body>
    <h1 id="question">Question</h1>
    <button id="no">Sai/Không/Trái</button>
    <button id="yes">Đúng/Có/Phải</button>
    <button>Kết quả vote</button>
    <button>Câu hỏi khác</button>

    <!-- <script>
        function reqListener () {
            let question = JSON.parse(this.responseText).question;
            document.getElementById("question").innerText = question.content;
        }

        var oReq = new XMLHttpRequest();
        oReq.addEventListener('load', reqListener);
        oReq.open("GET", "http://localhost:7000/randomquestion");
        oReq.send();
    </script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        var questionId = null;

        $.ajax({
            url: "http://localhost:7000/randomquestion",
            type: "GET",
            success: function(data) {
                console.log(data);
                $("#question").text(data.question.content);
                questionId = data.question.id;
                $("#question").attr("data-question", data.question.id);
            }, error: function(err) {
                console.log(err)
            }
        });

        $("#no, #yes").on("click", function() {
            $.ajax({
                url: "http://localhost:7000/answer",
                type: "post",
                data: {
                    questionId: $("#question").attr("data-question"),
                    vote: $(this).attr("id") //"yes" or "no"
                },
                success: function(data) {
                    console.log(data);
                    window.location.href = "/question/"+data.question.id;
                },
                error: function(err) {

                }
            })
        });
    </script>
</body>
</html>