<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Import Font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">

    <!-- Import CSS -->
    <link rel="stylesheet" href="style.css">
    <title>Score Keeper</title>
</head>
<body>
    <div class="container pt-5 font-text">
        <h1 class="text-primary">Score Keeper</h1>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th id="player1" scope="col"></th>
                        <th id="player2" scope="col"></th>
                        <th id="player3" scope="col"></th>
                        <th id="player4" scope="col"></th>
                    </tr>
                    <tr id="sumofscore" class="text-light">
                        <th id="sumOfScore" scope="col">Sum of score (<span></span>)</th>
                        <th id="total1" scope="col">p2</th>
                        <th id="total2" scope="col">p3</th>
                        <th id="total3" scope="col">p4</th>
                        <th id="total4" scope="col">p5</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Round 1</th>
                        <td>
                            <input id="score1" class="border border-dark rounded h-35px" type="number">
                        </td>
                        <td>
                            <input id="score1" class="border border-dark rounded h-35px" type="number">
                        </td>
                        <td>
                            <input id="score1" class="border border-dark rounded h-35px" type="number">
                        </td>
                        <td>
                            <input id="score1" class="border border-dark rounded h-35px" type="number">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center mt-5">
            <button id="addRound" class="btn btn-danger">ADD ROUND</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="gamedetail.js"></script>
</body>
</html>