<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Import Font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">

    <!-- Import CSS -->
    <link rel="stylesheet" href="style.css">
    <title>Score Keeper</title>
</head>
<body>
    <div class="container pt-5 font-text">
        <div>
            <h1 class="text-primary">Score Keeper</h1>
            <hr>
        </div>
            <div class="mt-5 text-center">
            <form action="/creategame" method="POST">
                <div class="my-3">
                    <input class="border border-danger rounded col-md-10 h-35px" name="namePlayer1" type="text" placeholder=" Player 1...">
                </div>
                <div class="my-3">
                    <input class="border border-danger rounded col-md-10 h-35px" name="namePlayer2" type="text" placeholder=" Player 2...">
                </div>
                <div class="my-3">
                    <input class="border border-danger rounded col-md-10 h-35px" name="namePlayer3" type="text" placeholder=" Player 3...">
                </div>
                <div class="my-3">
                    <input class="border border-danger rounded col-md-10 h-35px" name="namePlayer4" type="text" placeholder=" Player 4...">
                </div>
            </div>
            <div class="text-center mt-5">
                <button type="submit" class="btn btn-danger">CREATE NEW GAME</button>
            </div>
        </form>
    </div>
    
</body>
</html>